
.imgGaleria{
	width: 50vh;
	height: 50vh;
	margin: 50px;
	border-radius:10px;
	object-fit: cover;
}

@media only screen and (max-width: 601px){

	.imgGaleria{
        width: 40vh;
        height: 40vh;
