.sidenavBoton{
	margin:20px;
	float:left;
}

.sidenav-trigger {
  color: #26a69a;
}

/* Media Query */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  
  .grid-container{	
    margin:10px;
    grid-template-areas:
    'nombre nombre nombre nombre nombre nombre'
    'email email email email email email'
    'tipo tipo tipo tipo tipo tipo'
    'asunto asunto asunto asunto asunto asunto'
    'mensaje mensaje mensaje mensaje mensaje mensaje'
    'submit submit submit submit submit submit';
  }
}

/* 		------ HeaderJugadores ------		*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
#header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
#header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
#header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(../img/headerJugadores.jpg) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
#header a{
  color:#eee
}

.info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}

.card.horizontal .card-image {
    max-width: 100%;
}
@media only screen and (max-width: 601px){
	.row .col.m3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
	}   
    .row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
	}
	h6 {
    font-size: 1.40rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
	}
}
@media only screen and (max-width: 800px){
	.card.horizontal .card-image {
    max-width: 100%;
    width: 100%;
    margin: auto;
	}
}
.card.horizontal .card-image #imagenEquipo{
    width: 60%;
    margin: auto;
}
.row .col {
	margin:0rem !important;
    width: 100%;
    padding: 0 0.75rem;
    
}

}
.Categoria {
    color: white !important;
}
div#votacion{
	background-imagen:url(../view/img/bannerBC.jpg);
	
}
.card-content{
  background-image: linear-gradient(#0D47A1, #000428 );
  padding:25px;
  border-radius: 5px;
}

.blue.darken-3 {
    height: 50px;
    width: 150px;
    font-size: 25px;
    float: right;
    margin-right: 25px;
}
b{
	font-size: 20px;
}
}
