<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="css/admin.css">
    <title>Document</title>
</head>

<body>
    <div class="header"><label>Equipo</label>
        <div class="nav-wrapper blue darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <td>nombre</td>
                <td>Categoría</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="borrar"></td>
                <td><input type="button" value="modificar"></td>
            </tr>
        </tbody>
    </table>

    <div class="header"><label>Jugadores</label>
        <div class="nav-wrapper blue darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Nickname</td>
                <td>apellido</td>
                <td>DNI</td>
                <td>fecha de nacimiento</td>
                <td>número de teléfono</td>
                <td>rol del jugador</td>
                <td>dirección</td>
                <td>email</td>
                <td>activo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" value="borrar"></td>
                <td><input type="button" value="modificar"></td>
            </tr>
        </tbody>
    </table>

    <div class="header"><label>cuerpo técnico</label>
        <div class="nav-wrapper blue darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <table class="striped">
        <thead>
            <td>nombre</td>
            <td>apellido</td>
            <td>DNI</td>
            <td>fecha de nacimiento</td>
            <td>número de teléfono</td>
            <td>rol del cuerpo técnico</td>
            <td>dirección</td>
            <td>email</td>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" value="borrar"></td>
                <td><input type="button" value="modificar"></td>
            </tr>
        </tbody>
    </table>

    <div class="header"><label>Categorías</label>
        <div class="nav-wrapper blue darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <table class="striped">
        <thead>
            <td>nombre</td>
        </thead>
        <tr>
            <td></td>
            <td><input type="button" value="borrar"></td>
            <td><input type="button" value="modificar"></td>
        </tr>
    </table>

    <div class="header"><label>Comentarios</label>
        <div class="nav-wrapper blue darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <table class="striped">
        <thead>
            <td>tipo</td>
            <td>nombre</td>
            <td>mensaje</td>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" value="borrar"></td>
            <td><input type="button" value="modificar"></td>
        </tr>
    </table>

</body>

</html>