<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/mvp.css" />
    <link rel="stylesheet" href="jquerymobile/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="css/boostrap/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
    
    <title>Paradox</title>
</head>

<body>
    <div data-role="page" id="main" class="text-center">
        <div data-role="header" id="banner-main" class="bgMain">
            <a href="../index.html">
            <div class="col divApp text-center">
                <p class="tituloApp">PARADOX MVP AWARDS</p>
                
            </div>
        </a>
        </div>
     <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="left">
         </div>
     </div> <!--fin footer-->
   </div> <!--fin pagina main-->

<div class="containerCards">
   <div data-role="page" id="nexus">
    <div data-role="header" data-position="fixed" data-add-back-btn="true" role="banner" class="ui-header ui-bar-inherit ui-header-fixed slidedown"><h1 class="ui-title" role="heading" aria-level="1">PARADOX NEXUS</h1></div>
    <div data-role="header" id="banner_cebra" role="banner" class="ui-header ui-bar-inherit"></div>
    <div class="row jugadoresVotosNexus">
          
    </div>
    </div>
<div data-role="page" id="strike">
    <div data-role="header" data-position="fixed" data-add-back-btn="true" role="banner" class="ui-header ui-bar-inherit ui-header-fixed slidedown"><h1 class="ui-title" role="heading" aria-level="1">PARADOX STRIKE</h1></div>
    <div data-role="header" id="banner_cebra" role="banner" class="ui-header ui-bar-inherit"></div>
    <div class="row jugadoresVotosStrike">
          
    </div>
</div>
<div data-role="page" id="siege">
    <div data-role="header" data-position="fixed" data-add-back-btn="true" role="banner" class="ui-header ui-bar-inherit ui-header-fixed slidedown"><h1 class="ui-title" role="heading" aria-level="1">PARADOX SIEGE</h1></div>
    <div data-role="header" id="banner_cebra" role="banner" class="ui-header ui-bar-inherit"></div>
    <div class="row jugadoresVotosSiege">
          
    </div>
</div>
</div>
    <script type="text/javascript" src="js/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="jquerymobile/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/jquery/bootstrap.js"></script>
    <script type="text/javascript" src="js/mvp.js"></script>
    <script src="js/popper.min.js"></script>
</body>

</html>