<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Votacion</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/votacion.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://kit.fontawesome.com/661afcc94b.js"></script>
  <link rel="shortcut icon" type="image/png" href="img/paradox.png"/>
</head>
<body>

  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container ">
      <a id="logo-container" href="../index.html" class="brand-logo"><img src="img/paradox.png" width="130px"></a>
      <ul class="right hide-on-med-and-down">
      <li class="loginNav ">
      
      </li>
      <li class="registerNav">
      
      </li>
        
    	<li>
        <a class="white-text dropdown-trigger waves-effect waves-light " href="#" data-target='dropdown1'>Opciones</a>
        </li>
        </ul>
        <!-- Dropdown Menu -->
        <ul id='dropdown1' class='dropdown-content'>
    		<li><a href="jugadoresCategorias.html">Datos de los equipos</a></li>
    		<li><a href="contacto.html">Sugerencias</a></li>
    		<li class="adminNav">
    		
    		</li>
    		<li class="logOutNav">
    		
    		</li>
      	</ul>

      <ul id="nav-mobile" class="sidenav">
     	 <div width="100%" class="center-align blue darken-4">  <img src="img/paradox.png" width="130px"></div>
        	<li class="loginNav">
      
      	</li>
      	<li class="registerNav">
      	</li>
      	<li><a href="view/jugadoresCategorias.html">Datos de los equipos</a></li>		
      	<li><a href="view/contacto.html">Sugerencias</a></li>
      	<li class="adminNav">
      
      	</li>
      	<li class="logOutNav">
    		
    		</li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!-- Todo el contenido de la pagina -->
				<div class="container">
					<div class="content-container  css-1naaz8s ewatup80">
						<h2>MVP de Paradox 2019-2020</h2>
						<div class="trailer-container">
							<div class="trailer-player" style="width: 100%; height: 100%;">
								<div style="width: 100%; height: 100%;">
									<!-- Header -->
									
									
									<!-- Fin Header -->
								</div>
							</div>
						</div>
						
						<h2>Vota al mejor jugador por categoria </h2>
					</div>

		<!-- Jugadores -->
				<div class="row card-stacked">
        			<div class="card-content ">
        			
        				<!-- Datos jugadores -->
          				<div class="jugadores row">
							<div class="col s12 m6 ng-scope" ng-repeat="jugador in jugadores">
							<div ng-if="equipo.idEquipo==jugador.idEquipo" class="col s12 ng-scope">
    							<h6 class="ng-binding">Petr "Denyk" Haramach</h6>
    								<div class="row card horizontal">
      									<div class="card-image col s5 m5">
        									<img src="../view/img/denyk.png">
      									</div>
      									<div class="card-stacked col s7 m7">
          										<p class="ng-binding"><b>Rol:</b>  Bot Lane</p>
          								</div>
    								</div>
  								</div>
							</div>
							<div class="col s12 m6 ng-scope" ng-repeat="jugador in jugadores">
							<div ng-if="equipo.idEquipo==jugador.idEquipo" class="col s12 ng-scope">
    							<h6 class="ng-binding">Petr "Denyk" Haramach</h6>
    							<div class="row card horizontal">
      								<div class="card-image col s5 m5">
        								<img src="../view/img/denyk.png">
      								</div>
      								<div class="card-stacked col s7 m7">
          								<p class="ng-binding"><b>Rol:</b>  Bot Lane</p>
          							</div>
    							</div>
  							</div>
  							</div>
						</div>
        			</div>
      			</div>

			<!-- Boton para votar -->
			<div class="row">
				<button class="vote-button" disabled="">VOTAR</button>
				</span>
			</div>
		</div>

		<!--  Scripts-->
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/votacion.js"></script>
</body>
</html>